*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  font-family: "Joan", serif;
}
body {
	padding-top: 100vh;
  overflow-x: hidden;
}
/* Imagen top header */

#sticky-parallax-header {
    color: #fff;
    height: 100vh;
    width: 100%;
    max-width: 100vw;
    left: 0;
    right: 0;
    background-image: url("../img/productos.png");
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: soft-light;
    display: grid;
    place-items: center;
    text-align: center;
    font-size: calc(4vw + 1em);
}
@keyframes sticky-parallax-header-move-and-size {
	from {
		background-position: 50% 0;
		height: 100vh;
		font-size: calc(4vw + 1em);
	}
	to {
		background-position: 50% 100%;
		background-color: #0f840b;
		height: 10vh;
		font-size: 2em;
	}
}
#sticky-parallax-header {
	position: fixed;
	top: 0;
	animation: sticky-parallax-header-move-and-size linear forwards;
	animation-timeline: scroll();
	animation-range: 0vh 90vh;
  z-index: 1;
}
.content {
  display: grid;
  grid-template-areas: 
  "sidebar"  
  "content";
  grid-template-columns: 1fr;
  min-height: 100vh;
}
/* --- Sidebar --- */
.sidebar {
  grid-area: sidebar;
  background:  #21551a  ;
  color: white;
  display: flex;
  flex-direction: row;
  text-align: center;
  padding: 20px;
  width: 100%;
}
.sidebar i {
  padding: 0 4px;
  font-size: 20px;
}
.logo {
  display: block;
  margin: 0 auto;
  width: 200px;     
  height: auto;
}

/* Menú debajo en columna */
.sidebar ul {
  display: flex;
  flex-direction: column;  /* columna */
  align-items: center;
  list-style: none;  
  gap: 12px;
  padding-top: 80px;
  margin-left: 40px;
}

.sidebar ul li a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-radius: 8px;
} 


/* Enlaces base */
.menu_sidebar li a {
  display: block;
  padding: 8px 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color .18s, box-shadow .18s, transform .12s;
  -webkit-tap-highlight-color: transparent;
}
/* Hover normal */
.menu_sidebar li a:hover {
  background: rgba(150, 145, 145, 0.06);
  transform: translateY(-3px);
  box-shadow: 0 8px 18px rgba(0,0,0,0.18);
  animation: bounce-top .9s linear both;
}
/* --- Contenido --- */
.content {
  grid-area: content;
  padding: 15px;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
}
.card {
  background: white;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.card:hover img {
  transform: scale(1.20);
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.card p {
  padding-top: 10px;
  margin: 10px 0;
  font-size: 16px;
}
.card button {
  background: #2a8917;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.card button:hover {
  background: #0f2f6d;
}
/* Mobile */
@media (max-width: 576px) {
  .sidebar ul {
    display: flex; /* oculto menú */
    flex-direction: column; /* opcional, si quieres que se despliegue en columna */
    justify-content: space-between;
    align-items: flex-end;
    margin-right: 0px;
    padding: 8px 30px;
    font-size: 10px;
  }
  .menu_sidebar {
    display: flex;          /* mostramos siempre */
    flex-direction: column; /* columna vertical */
    align-items: center;  /* alineado a la derecha del sidebar */
    gap: 10px;
    margin: 0;
    padding: 0;
  }
  .menu_sidebar li {
    list-style: none;
  }
  .sidebar {
    justify-content: flex-start;
    align-items: center;
  }
  .sidebar ul li a {
    font-size: 18px;
  }
  .sidebar .logo {
    margin: 0;   /* elimina auto para que quede a la izquierda */
  }
  .grid {
    grid-template-columns: 1fr; /* mantiene cards en columna */
  }
}
/* Pantallas grandes en adelante */
@media (min-width: 577px) {
  #content {
    display: grid;
    grid-template-areas: 
    "sidebar content";
    grid-template-columns: 300px 1fr;
  }
  .sidebar {
    grid-area: sidebar;
    flex-direction: column;
    align-items: flex-start;
  }
  .content {
    grid-area: content;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 14px;
  }
}
/* Sección general */
.contacto {  
  max-width: 1200px;
  margin: 3rem auto;
  padding: 0 1rem;
  font-family: Arial, sans-serif;
}

.contacto h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.contacto .intro {
  text-align: center;
  font-size: 1.1rem;
  color: #444;
  margin-bottom: 3rem;
  font-weight: 550;
}
/* Layout columnas */
.contacto-contenido {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
@media (max-width: 768px) {
  .contacto-contenido {
    grid-template-columns: 1fr;
  }
}

/* Redes sociales */
.redes h4 {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}
.redes a {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  margin-bottom: 1rem;
  text-decoration: none;
  font-size: 1.2rem;
  color: #222;
  transition: color 0.3s;
}
.redes a:hover {
  color: #38bd17;
}
.redes i {
  font-size: 1.8rem;
}

/* Formulario */
.formulario form {
  display: flex;
  flex-direction: column;
}
.formulario label {
  margin-bottom: 0.4rem;
  font-weight: bold;
}
.formulario input,
.formulario textarea {
  padding: 0.7rem;
  margin-bottom: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}
.formulario textarea {
  resize: vertical;
  min-height: 120px;
}
.formulario button {
  padding: 0.8rem;
  border: 2px solid #2c8c19;
  background: transparent;
  color: #140d0d;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: all 0.3s;
}
.formulario button:hover {
  background: #2c8c19;
  color: #fff;
}
footer {
    background-color: #2c8c19;
    text-align: center;
    padding: 1.5rem;
    color: white;
    font-size: 18px;
}

